.page-content-container {
  max-width: 1200px;
  min-height: 80vh; /* good enough sticky footer for now */
  position: relative;
  margin: 0 auto;
  padding: 0 30px;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  /*border: 1px solid silver;*/
}
