.contact-page-form-container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

@media only screen and (min-width: 900px) {
  .contact-page-form-container {
    width: 75%;
  }
}

.header {
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 200;
  color: #95989a;
  margin: 0;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 100;
  color: #95989a;
  margin: 0;
  margin-bottom: 30px;
}

.contact-image {
  text-align: center;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 800px) {
  .contact-image {
    margin-bottom: -131px;
    margin-left: 563px;
    margin-top: 100px;
  }
}
