.header-container {
  width: 100%;
  height: auto;
  padding-top: 30px;
  margin-bottom: 60px;
}

.header-container
.link-groups-container {
  display: none;
}

.header-container
.dropdown-menu-container {
  display: block;

  font-size: 16px;
  letter-spacing: 4px;
}

.header-container
.title-container {
  text-align: center;
  margin-bottom: 10px;
  display: block;
}

@media only screen and (min-width: 1000px) {
  .header-container
  .link-groups-container {
    display: inline-block;
    float: right;
    margin-top: 22px;

    font-size: 12px;
    letter-spacing: 1px;
  }

  .header-container
  .dropdown-menu-container {
    display: none;
  }

  .header-container
  .title-container {
    text-align: left;
    margin-bottom: 0;
    display: inline-block;
  }
}

#projects-link {
  margin-right: 10px;
}

.socialiconGroup-container {
  margin-left: 3px;
}
