.button-round-text {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid black;
  background-color: white;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: center;
  justify-content: center;

  -webkit-align-items: center;
  align-items: center;
}

.button-round-text:hover {
  cursor: pointer;
}

.button-round-text
.button-label {
  font-size: 12px;
  letter-spacing: 1px;
}
