.link {
  text-decoration: none;
  display: inline-block;
  color: #aeb0b1;

  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.link:hover {
  cursor: pointer;
  color: #442c2e;
}

.link-container {
  display: inline-block;
}
